.PlaylistList {
    display: flex;
    flex-direction: column;
    width: 37%;
    height: 950px;
    overflow-y: scroll;
    background-color: rgba(1, 12, 63, 0.7);
    box-shadow: 0 4px 2px 2px #000000;
    gap: 10px;
}

.PlaylistList h2 {
    padding: .88rem;
}

.createPlaylist {
    align-self: center;
    width: 80%;
    cursor: pointer;
    padding: .77rem .5rem;
    border-radius: 54px;
    border-width: 0px;
    margin-top: 1.5rem;
    background-color: #6c41ec;
    text-align: center;
    font-size: .83rem;
    transition: background-color .25s;
    color: #fff;
    font-weight: 500;
}

.createPlaylist:hover {
    background-color: rgba(108, 65, 233, .7);
}